@charset "UTF-8";

#search-result-table tr {
	cursor: pointer;
}

#order-paper-table th:nth-of-type(n+1):nth-of-type(-n+2),
	#order-paper-table td:nth-of-type(n+1):nth-of-type(-n+2) {
	display: none;
}

[contenteditable="true"] {
	border: 1px solid #CED4DA;
	border-radius: 0.25rem;
}

.pagination {
	justify-content: center;
}

.pagination li {
	cursor: pointer;
}

.none, .none * {
	display: none !important;
}

.error {
	color: red;
}

.spaceRight {
	padding-right: 0.5em;
}