@charset "UTF-8";

#title {
	font-size: 38px;
	font-weight: bold;
	padding: 15px 20px;
	letter-spacing: 5px;
}

.page-info-panel, .page-info-panel>div {
	margin: 0 !important;
	padding: 0 !important;
}

#order-list tr {
	cursor: pointer;
}

.modal-dialog {
	max-width: 90% !important;
}

.pagination {
	justify-content: center;
}

.pagination li {
	cursor: pointer;
}

.none, .none * {
	display: none !important;
}

.inline-block * {
	display: inline-block !important;
}


.spaceRight {
	padding-right: 0.5em;
}