@charset "UTF-8";


.btn{
	background-image: none;
	background-color: #666666;
	color: #FFFFFF;
	border-color: #666666;
	font-size: 12px;
}
	

#title{
	font-size: 22px;
	font-weight:bold;
}

.table-cols{
	border-top: 1px solid #888888;
}

.table{
	border-collapse: collapse;
	margin-bottom: 20px;
}

.table-cols > tbody > tr > th{
	background-color: #F6F6F6;
}

.table-cols > tbody > tr > th, .table-cols > tbody > tr > td{
	padding: 8px 15px;
	font-size: 12px;
	height: 43px;
	border-top: 0;
	border-bottom: 1px solid #E6E6E6;
	vertical-align: middle;
}

.table-background{
	height: 46px;
	width: 100%;
	overflow: hidden;
	padding: 8px 0;
	margin-top: -20px;
	background: #F6F6F6;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	
}

.table-main{
	font-size: 12px;
}

.table-main > thead > tr > th, .table-main > tbody > tr > td{
	text-align: center;
	border-right: 1px solid #AEAEAE;
	border-left: 1px solid #AEAEAE;
	
}	



.table-main > thead > tr > th{
	letter-spacing: -1px;
	background-color: #BCBCBC !important;
	color: #FFFFFF;
}

.table-main > tbody > tr > td{
	background-color: white;
}